<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> HOME | Blood Bank Management</title>
    <style>
        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #FF0018;
            color: white;
            text-align: center;
            height: 50px;
        }
        
        .hellomsg {
            font-size: 18px;
            color: #fff;
        }
        
        .h {
            font-size: 20px;
            color: #fff;
        }
        
        .title {
            color: rgba(255, 0, 0);
            border: 2px solid rgb(0, 0, 0);
            border-radius: 18px;
        }
        
        .para {
            margin-top: 38px;
            font-size: 18px;
        }
        
        .photo {
            border: 5px solid black;
            border-radius: 18px;
        }
    </style>
</head>
</head>

<body>
    <section>>
        <div class="bs">
            <nav style="background-color: #FF0018;" class="navbar navbar-expand-md navbar-dark fixed-top">
                <image src="/static/Blood.PNG" fill="none" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-10 h-10 text-white p-1 bg-white rounded-full" viewBox="0 0 24 24">
                    </svg>
                    <a href="/" class="navbar-brand">&nbsp;&nbsp;Blood Bank Management</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            </button>
                    <span class="h">|&nbsp;&nbsp; </span>
                    <a class="h"><i class="fa fa-user-circle-o" style="font-size:30px; color:white"></i></a>
                    <span class="hellomsg">&nbsp;<strong>{{request.user}}</strong></span>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">


                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="../"><i class="fas fa-home"></i>&nbsp; Home</i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="/admin/login"><i class="fas fa-user-shield"></i>&nbsp; Admin</i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: white;" href="./logout">&nbsp; LOGOUT &nbsp; <i class="fas fa-sign-out-alt"></i></a>
                                </li>

                            </ul>
                        </div>




                    </div>
            </nav>
        </div>
    </section>
    <section class="text-gray-400 body-font bg-white">

        <section class="text-gray-900 body-font">
            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
                <div class="text-center lg:w-2/3 w-full">
                    <h2 class="title font:medium"><i class="fa fa-check-square-o" style="color:rgb(255, 0, 0)"></i>&nbsp;&nbsp;Request successfully submitted </h2>
                    <p class="para">Our blood bank representative will soon reach out to you if any additional details are required and will share the payment link for further processing of the request. We process the requests based on various factors including if there
                        is a emergency and the nature of the request. Check your phone message / mail for confirmation from the blood bank.</p>

                </div>

                <img class="photo" alt="..." src="/static/Capture.jpg" width="400" height="400">

            </div>
        </section>

        <section class="text-gray-600 body-font relative">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"><i class="fa fa-phone"></i>&nbsp;&nbsp;Contact Us </h1>
                </div>
                <form class="main_form" method="post" action="/prequested">
                    {% csrf_token %}
                    <div class="lg:w-1/2 md:w-2/3 mx-auto">
                        <div class="flex flex-wrap -m-2">
                            <div class="p-2 w-1/2">
                                <div class="relative">
                                    <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                                    <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                </div>
                            </div>
                            <div class="p-2 w-1/2">
                                <div class="relative">
                                    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                                    <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                </div>
                            </div>
                            <div class="p-2 w-full">
                                <div class="relative">
                                    <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                                    <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                                </div>
                            </div>
                            <div class="p-2 w-full">
                                <button onClick="window.location.href='../home';" class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">SUBMIT</button>
                            </div>
                            <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                                <span class="inline-flex">
                        <a class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                        </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                        </svg>
                        </a>
                    </span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>

        <div class="footer">
            <p> Made By Arnav Mukkawar <br>&copy; 2022
            </p>

        </div>

</body>

</html>